<h1>MediTreats</h1>
<ul>
    <% @recipes.each do |recipe| %>
        <li>
          <h2><%= recipe.title %></h2>
          <p>Ingredients: <%= recipe.ingredients %> </p>
          <p>Directions: <%= recipe.directions %> </p>
          <img src="<%= recipe.img %>" />
        </li>
    <% end %>
</ul>
