<form submit="/" method="post">
    <ol>
        <li><label for="">Title:</label><input type="text" name="title" id="title" /></li>
        <li><label for="">Intro:</label><input type="text" name="intro" id="intro" /></li>
        <li><label for="">Ingredients:</label><input type="text" name="ingredients" id="ingredients" /></li>
        <li><label for="">Directions:</label><input type="text" name="directions" id="directions" /></li>
        <li><label for="">Image (optional):</label><input type="text" name="img" id="img" /></li>
        <li><button>Submit!</button></li>
    </ol>
</form>
